
body {
    background-color: black;
}

.choices {

.message {

    color: rgb(138, 123, 123);
    font-size: 145%;
    position: fixed;
    top: 20%;
    left: 27%;

}

.Choice {

    color:brown;
    font-size: 145%;
    position: fixed;
    top: 30%;
    left: 46%;

}

.fire {

    a:link {

  color: rgb(173, 36, 6);
  background-color: transparent;
  text-decoration: none;

    }

    a:visited {

  color: rgb(72, 26, 15);
  background-color: transparent;
  text-decoration: none;

    }


    font-size: 135%;
    position: fixed;
    top: 80%;
    left: 48%

}

.water {

    a:link {

  color: rgb(12, 6, 86);
  background-color: transparent;
  text-decoration: none;

    }

    a:visited {

  color: rgb(20, 24, 67);
  background-color: transparent;
  text-decoration: none;

    }

    font-size: 135%;
    position: fixed;
    top: 67%;
    left: 28%;

}

.air {

    a:link {

  color: silver;
  background-color: transparent;
  text-decoration: none;

    }

    a:visited {

  color: rgb(81, 80, 76);
  background-color: transparent;
  text-decoration: none;

    }

    font-size: 135%;
    position: fixed;
    top: 67%;
    left: 64%;

}

.earth {

    a:link {

  color: rgb(51, 173, 6);
  background-color: transparent;
  text-decoration: none;

    }

    a:visited {

  color: rgb(25, 72, 15);
  background-color: transparent;
  text-decoration: none;

    }

    font-size: 135%;
    position: fixed;
    top: 55%;
    left: 48%;

}


}