
body {

    background-color: black;
    background-image: url(pexels-junkieyankee-14617072.jpg);
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;

}

.Flame {

    .Error { 

       color:rgb(133, 85, 76);
       font-size: 170%;
       font-family: 'Gerogia';
       font-style: italic;
       position: fixed;
       top: 15%;
       left: 34%;

    }

    .Erase {

        a:link {

  color: rgb(173, 17, 6);
  background-color: transparent;
  text-decoration: none;

    }

    a:visited {

  color: rgb(72, 15, 22);
  background-color: transparent;
  text-decoration: none;

    }


    font-size: 135%;
    font-style: italic;
    position: fixed;
    top: 80%;
    left: 46%;

    }

}