body {

    background-color: black;
    background-image: url(pexels-maxed-raw-527582413-31902244.jpg);
    background-size: 20%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;


}
.Rocks {

    .Error { 

       color:rgb(92, 133, 76);
       font-size: 170%;
       font-family: 'Gerogia';
       font-style: italic;
       position: fixed;
       top: 10%;
       left: 30%;

    }

    .Search {

        a:link {

  color: rgb(45, 173, 6);
  background-color: transparent;
  text-decoration: none;

    }

    a:visited {

  color: rgb(72, 51, 15);
  background-color: transparent;
  text-decoration: none;

    }


    font-size: 135%;
    font-style: italic;
    position: fixed;
    top: 80%;
    left: 46%;

    }


}